<table align="center" style="width: 700px; border-spacing: 0px">
  <tr>
    <td
      cellpadding="0"
      cellspacing="0"
      style="
        border-collapse: separate;
        border-spacing: 0px;
        padding: 15px;
        background-color: #000000;
        border-radius: 10px;
      "
    >
      <table align="center">
        <tr>
          <td>
            <img
              src="https://lh3.googleusercontent.com/u/2/drive-viewer/AFDK6gNAxt0vRNBqHpuqQF48LLmvj8gmlG9G58zpd7Ig96hEf6mbPElkBByejnV4ChAMNPZgSB_j_r4lq1hNufJovRLS3Wr5XA=w1919-h973"
              alt="Sociahigh"
              style="
                display: block;
                border: 0;
                outline: none;
                text-decoration: none;
              "
              height="97"
            />
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td align="center">
      <h1
        style="
          margin: 15px 0;
          line-height: 36px;
          font-family: sans-serif;
          font-size: 30px;
          font-style: normal;
          font-weight: bold;
          color: #000000;
        "
      >
        <%= title %>
      </h1>
    </td>
  </tr>
  <tr>
    <td
      align="center"
      style="
        margin: 0 10px;
        font-family: sans-serif;
        line-height: 24px;
        color: #666;
        font-size: 20px;
      "
    >
      <%= description %>
    </td>
  </tr>
</table>
